boto3==1.9.159
botocore==1.12.159
cffi==1.12.3
characteristic==14.3.0
cryptography==2.7
cssselect==1.0.3
dj-database-url==0.5.0
Django==2.2.1
django-mailgun==0.9.1
docutils==0.14
enum34==1.1.6
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.22
jmespath==0.9.4
lxml==4.3.3
Pillow==8.1.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
queuelib==1.5.0
requests==2.22.0
Scrapy==1.6.0
scrapy-djangoitem==1.1.1
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
titlecase==0.12.0
Twisted==19.2.0
w3lib==1.20.0
whitenoise==4.1.2
zope.interface==4.6.0
psycopg2==2.8.2
