html { font-size: 1em; }

body {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p { margin-bottom: 0.5rem; }

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 { font-size: 3.998em; margin-bottom: 0.0rem; }
h2 { font-size: 1.000em; margin-bottom: 0.5rem; line-height: 1.45; }
h3 { font-size: 1.999em; margin-bottom: 0.5rem; }
h4 { font-size: 1.414em; margin-bottom: 0.5rem; }

small, .font_small { font-size: 0.707em; }

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.content li img {
  margin: 0 0 0.5rem 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-device-width : 737px) {
.content li img {
    margin: 0 0 0.5rem 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

li p {
  overflow: hidden;
  clear: none;
}

.content li a, a:link, a:visited, a:active, a:hover {
  color: #333;
  text-decoration: underline !important;
}

li {
  overflow: auto;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 600px;
}

.header {
  margin: 0 0 1.5rem 0;
}

.badge {
  background-color: #333;
}

.footer {
  color: #fff;
  background-color: #333;
  margin: 0 0 0 0;
  padding: 1.5rem 0 1.5rem 0;
}

.footer a, a:link, a:visited, a:active, a:hover  {
  text-decoration: underline !important;
  color: #fff;
}

.footer li {
    margin-bottom: 0;
}


a[href^="http://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

a[href^="https://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

/* Strip from links to own domain or with class no_icon */
a[href^="http://artbot.io"]:after,
a.no_icon:after {
  content:"" !important;
  padding-left: 0;
}
